<html>
<head>
</head>
<body>
<form>
  Text to cipher:
  <input type = "text" name = "raw"/>
  Shift amount:
  <input type = "text" name = "shift"/>
  <br/>
  <input type = "submit" value = "Cipher!"/>
</form>
<div>
  <%= message %>
</div>
</body>
</html>